@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.radix-themes {
  --my-brand-color: #F50963;
  --indigo-9: var(--my-brand-color);
  --indigo-a9: var(--my-brand-color);
}